body {
    background: #EFEFEA url('../img/left-bg.png') no-repeat;
    background-size: cover;
}

/* Custom Style Modifications */

.data-display {
    height: 100vh;
    overflow-y: visible;
    overflow-x: hidden;
}

.container-accordion {
    padding: .3em .5em;
}

.center-text {
    text-align: center !important;
}

.center-image {
    margin: 0 auto;
    display: block !important;
}

.ui.styled.accordion .accordion .content,
.ui.styled.accordion .content {
    padding: 0 0 .2em !important;
}

.mb-2 {
    margin-bottom: .4em;
}

.restaurant-item-buttons {
    padding: 0;
    text-align: center;
    margin-bottom: 1em !important;
}

.toggle-button {
    position: absolute;
    top: 30px;
    left: 30px;
    padding: 7px 16px;
    background: rgba(255,255,255, .85);
}

.paragraph-link {
    cursor: pointer;
    color: dodgerblue;
}

@media (max-width: 768px) {
    .ui.styled.accordion {
        width: 100%;
    }
}

@media (max-width: 390px) {
    .more-info {
        display: none !important;
    }

    .load-more-reviews {
        margin-bottom: 10px !important;
    }
}

@media (max-width: 420px) {
    .data-display {
        height: 105vh;
    }
}