.container-accordion {
    padding: .3em .5em;
}

.center-text {
    text-align: center !important;
}

.ui.styled.accordion .accordion .content, .ui.styled.accordion .content {
    padding: 0 !important;
}

.mb-2 {
    margin-bottom: .4em;
}

.restaurant-item-buttons {
    text-align: center;
    margin-bottom: 1em !important;
}